/* BASIC */
/* MOBILE */
/* DESKTOP */

/* ------------------- BASIC ----------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color1: #000000;
    --color2: #f2f2f2;
    --color3: #cccccc;
    --color4: #dfdfdf;
    --color5: #484848;
    --color6: #0058a3;
}

.grid-container {
    display: grid;
    font-size: 18px;    
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.header {
    display: grid;
    grid-area: header;
}

.nav {
    display: grid;
    grid-area: nav;
}

.header-item1 {
    grid-area: 1 / 1 / 2 / 2;
    padding: 2px;
    font-weight: 700;
}

.header-item2 {
    grid-area: 1 / 2 / 2 / 3;
    padding: 2px;
    font-weight: 700;
}

.header-item3 {
    grid-area: 1 / 3 / 2 / 4;
    padding: 2px;
    font-weight: 700;
}

.header-item4 {
    grid-area: 1 / 4 / 2 / 5;
    padding: 2px;
    font-weight: 700;
}

.search { 
    grid-area: search;
    border: solid 3px var(--color1);
    font-size: 14px;
    align-self: center;
    background: url(./images/search-icon.svg) no-repeat scroll 11vw 2px;
    background-color: var(--color2);
}

.search-input {
    padding: 10px;
    border: none;
    background-color: transparent;
}

.main {
    display: grid;
    grid-area: main;
    background-color: white;
}

.img1 {
    grid-area: 1 / 1 / 2 / 2;
    overflow: hidden;
}

.image1 {
    object-fit: fill;
    zoom: 35.7%;
    object-position: 0px 0px;
}

.bronden {
    margin-top: 1vh;
    margin-left: 1vw;
}

.title-item {
    margin-bottom: 2vh;
    font-weight: 900;
    font-size: 28px;
}

.description-title-item {
    margin-bottom: 2vh;
}


.image2 {
    object-fit: cover;
    zoom: 81%;
    object-position: 0px -135px;
}

.img3 {
    grid-area: 1 / 3 / 3 / 5;
    width: 720px;
    height: 450px;
    overflow: hidden;
}

.image3 {  
    object-fit: cover;
    zoom: 90%;
    object-position: 0px 0px;
}

.price {
    font-weight: 900;
    font-size: 32px;
}

.soort {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 32% 20% 35%;
    grid-template-areas: 
        "kleur-item"
        "options"
        "afmeting-item"
        "afmetingen";
    margin-left: 1vw;
}

.kleur-item {
    grid-area: 1 / 1 / 2 / 2;
    font-weight: 700;
}

.options {
    grid-area: 2 / 1 / 3 / 2;
    margin-bottom: 2vh;
}

.option1 {
    width: 20%;
    height: 100%;
    border: solid 1px var(--color3);
    border-radius: 5px;
}

.option1:hover {
    cursor: pointer;
    border: solid 2px var(--color1);
}

.option2 {
    width: 20%;
    height: 100%;
    border: solid 1px var(--color3);
    border-radius: 5px;
}

.option2:hover {
    cursor: pointer;
    border: solid 2px var(--color1);
}

.option3 {
    width: 20%;
    height: 100%;
    border: solid 1px var(--color3);
    border-radius: 5px;
}

.option3:hover {
    cursor: pointer;
    border: solid 2px var(--color1);
}

.afmeting-item {
    grid-area: 3 / 1 / 4 / 2;
    border-top: solid 1px var(--color3);
    padding-top: 2vh;
    font-weight: 700;
}

.afmetingen {
    grid-area: 4 / 1 / 5 / 2;
    display: grid;
    grid-template-columns: 30% 30% 30% 10%;
    grid-template-rows: 100%;
    font-size: 14px;
    text-decoration: underline;
}

.afmeting-option1 {
    grid-area: 1 / 1 / 2 / 2;
    width: 95%;
    border: solid 1px var(--color3);
    border-radius: 5px;
    padding: 2px;
}

.afmeting-option2 {
    grid-area: 1 / 2 / 2 / 3;
    width: 95%;
    border: solid 1px var(--color3);
    border-radius: 5px;
    padding: 2px;
}

.afmeting-option3 {
    grid-area: 1 / 3 / 2 / 4;
    width: 95%;
    border: solid 1px var(--color3);
    border-radius: 5px;
    padding: 2px;
}

.acquisition { 
    display: grid;
}

.acquisitionTitle {
    font-weight: 700;
}

.acquisition-possibilities {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 10% 20% 10% 20% 10% 20%;
    border: solid 1px var(--color3);
    border-radius: 5px;
    padding-left: 1vw;
    padding-top: 1vh;
    font-size: 14px;
}

.delivery {
    grid-area: 1 / 1 / 3 / 2;
    width: 60%;
    height: 60%;
}

.levering {
    font-weight: 700;
}

.collect {
    grid-area: 3 / 1 / 5 / 2;
    width: 60%;
    height: 60%;
}

.ophalen {
    font-weight: 700;
}

.store {
    grid-area: 5 / 1 / 7 / 2;
    width: 60%;
    height: 60%;
}

.winkel {
    font-weight: 700;
}

.button1 {
    font-size: 18px;
    color: var(--color2);
    background-color: var(--color6);
    border: none;
    border-radius: 10px;
    grid-area: 4 / 1 / 5 / 2;
}

.product {
    grid-area: 4 / 3 / 5 / 5;
    height: 70px;
    border-top: solid 1px var(--color3);
    border-bottom: solid 1px var(--color3);
    /* border-radius: 15px; */
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 100%;
    margin-left: 1vw;
}

.product:hover {
    cursor: pointer;
}

.information {
    grid-area: 1 / 1 / 2 / 2;
    align-self: center;
    margin-left: 15px;
    font-size: 24px;
}

.arrow {
    grid-area: 1 / 2 / 2 / 3;
    width: 50%;
    height: 50%;
    align-self: center;
    justify-self: end;
}

/* ------------------- DESKTOP ----------------------- */
@media screen and (min-width:1180px) {

.grid-container {
    width: 1440px;
    height: 1080px;
    margin-left: 5vw;
    grid-template-columns: 50% 50%;
    grid-template-rows: 8% 92%;
    grid-template-areas: 
        "header header"
        "main main";
}

.header {
    grid-template-columns: 25% 25% 32% 18%;
    grid-template-rows: 100%;
    grid-template-areas: "nav . . search";
}

.nav {
    grid-template-columns: 35% 25% 25% 15%;
    grid-template-rows: 100%;
    margin-top: 3vh;
}

.header-item1:hover {
    cursor: pointer;
}

.header-item2:hover {
    cursor: pointer;
}

.header-item3:hover {
    cursor: pointer;
}

.header-item4:hover {
    cursor: pointer;
}

.search-input:focus {
    outline: none;
    padding: 10px 30px 10px 10px;
    background-color: var(--color3);
}

.main {
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 21% 25% 28% 26%;
    grid-template-areas: 
        "img1 bronden img3 img3"
        "img2 img2 img3 img3"
        "img2 img2 soort acquisition"
        "description description information arrow";
}

.img1 {
    width: 360px;
    height: 220px;
}


.img2 {
    grid-area: 2 / 1 / 4 / 3;
    width: 720px;
    height: 530px;
    overflow: hidden;
}

.bronden {
    grid-area: 1 / 2 / 2 / 3;
}

.description {
    padding-top: 15px;
    grid-area: 4 / 1 / 5 / 3;
    font-size: 16px;
}

.description-title-item {
    font-size: 14px;
}

.soort {
    grid-area: 3 / 3 / 4 / 4;
}

.kleur-item {
    margin-top: 1vh;
}

.option1:hover {
    cursor: pointer;
    border: solid 2px var(--color1);
}

.option2:hover {
    cursor: pointer;
    border: solid 2px var(--color1);
}

.option3:hover {
    cursor: pointer;
    border: solid 2px var(--color1);
}

.afmeting-option1 {
    height: 30%;
}

.afmeting-option1:hover {
    cursor: pointer;
    border: solid 1px var(--color1);
}

.afmeting-option2 {
    height: 30%;
}

.afmeting-option2:hover {
    cursor: pointer;
    border: solid 1px var(--color1);
}

.afmeting-option3 {
    height: 30%;
}

.afmeting-option3:hover {
    cursor: pointer;
    border: solid 1px var(--color1);
}

.acquisition {
    grid-area: 3 / 4 / 4 / 5;
    grid-template-columns: 100%;
    grid-template-rows: 10% 60% 5% 20%;
    grid-template-areas: 
        "acquisitionTitle"
        "acquisition-possibilities"
        "."
        "button1";
}

.button1 {
    width: 80%;
}

.button1:hover {
    cursor: pointer;
}

}
/* ------------------- MOBILE ----------------------- */
@media screen and (min-width:350px) and (max-width:1180px) {
    
    .grid-container {
        width: 475px;
        /* height: auto; */
        margin-left: 2vw;
        padding-right: 2vw;
        grid-template-columns: 100%;
        grid-template-rows: 3% 3% 94%;
        grid-template-areas: 
            "header"
            "header"
            "main";
    }

    .header {
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        grid-template-areas: 
            "nav"
            "search";
    }

    .nav {
        grid-template-columns: 30% 25% 20% 25%;
        grid-template-rows: 100%;
        margin-top: 1vh;
    }
  
    .search { 
        grid-area: search;
        border: solid 3px var(--color1);
        font-size: 14px;
        align-self: center;
        background: url(./images/search-icon.svg) no-repeat scroll 90vw 2px;
        background-color: var(--color2);
    }
    
    .search-input {
        padding: 10px;
        border: none;
        background-color: transparent;
    }

    .main {
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: 
            "img1"
            "bronden"
            "img2"
            "img3"
            "description"
            "soort"
            "product"
            "acquisition"
            ;
    }

    .bronden {
        grid-area: bronden;
        grid-area: 2 / 1 / 3 / 2;
        margin-top: 2vh;
        margin-left: 3vw;
        margin-bottom: 2vh;
    }

    .title-item {
        font-size: 36px;
    }

    .img1 {
        grid-area: img1;
    }

    .image1 {
        object-fit: cover;
        width: 475px;
        height: 220px;
        zoom: 100%;
        object-position: -10px -60px;
    }

    .img2 {
        grid-area: img2;
        grid-area: 3 / 1 / 4 / 2;
        width: 465px;
        height: 260px;
        overflow: hidden;
        margin-bottom: 1vh;
    }
    
    .image2 {
        object-fit: cover;
        zoom: 53.5%;
        object-position: 0px -270px;
    }

    .img3 {
        grid-area: img3;
        grid-area: 4 / 1 / 5 / 2;
        width: 465px;
        height: 260px;
        overflow: hidden;
        margin-bottom: 2vh;
    }
    
    .image3 {  
        object-fit: cover;
        zoom: 59.5%;
        object-position: 0px 0px;
    }

    .description {
        grid-area: description;
        grid-area: 5 / 1 / 6 / 2;
        font-size: 20px;
        margin-bottom: 2vh;
    }

    .soort {
        grid-area: soort;
        grid-area: 6 / 1 / 7 / 2;
        grid-template-rows: 15% 45% 20% 20%;
        border-top: solid 1px var(--color3);
        padding-top: 2vh;
    }

    .options {
        height: 100px;
        margin-bottom: 8vh;
    }

    .afmetingen {
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: 
            "option1 option2 option3"
        ;
        width: 320px;
        margin-bottom: 2vh;
    }

    .afmeting-option1 {
        grid-area: option1;
        height: 60%;
        width: 100px;
    }

    .afmeting-option2 {
        grid-area: option2;
        height: 60%;
        width: 100px;
    }

    .afmeting-option3 {
        grid-area: option3;
        height: 60%;
        width: 100px;
    }

    .product {
        grid-area: product;
        grid-area: 7 / 1 / 8 / 2;
    }

    .acquisition {
        grid-area: acquisition;
        grid-area: 8 / 1 / 9 / 2;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: 
            "Title"
            "possible" 
            "button"
        ;
    }

    .acquisitionTitle {
        grid-area: Title;
        height: 30px;
        margin-top: 3vh;
        margin-bottom: 1vh;
    }

    .acquisition-possibilities {
        grid-area: possible;
        height: 200px;
        margin-bottom: 1vh;
    }

    .button1 {
        grid-area: button;
        height: 60px;
    }
    
}