/* BASIC */
/* MOBILE */
/* DESKTOP */

/* ------------------- BASIC ----------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color1: #000000;
    --color2: #f2f2f2;
    --color3: #cccccc;
    --color4: #dfdfdf;
    --color5: #484848;
    --color6: #0058a3;
}

.grid-container {
    display: grid;

}

.grid-container-header {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-areas: 'producten ruimte nieuw aanbiedingen';
    gap: 10px;
}

/* ------------------- DESKTOP ----------------------- */
@media screen and (min-width:1180px) {}




/* ------------------- MOBILE ----------------------- */
@media screen and (min-width:350px) and (max-width:1180px) {}